<h1>Vendor: <%= @vendor.name %></h1>

<p><%# = link_to "Edit task", task_edit_path%></p>
<p>
 <%# = link_to "Mark as completed", task_complete_path %>
</p>
<p><%# = link_to "Return to full task list", tasks_path %></p>

<p>Products: </p>

<p>Sales: </p>
