<h1>All Markets</h1>

<p>
  <%= link_to "Create a new Market entry", new_market_path %>
</p>


<table>
  <tr>
    <th>Name</th>
    <th>Details</th>
    <th>Update</th>
  </tr>

  <% @markets.each do |market| %>
    <tr>
      <td><%= market.name %></td>
      <td><%= link_to "View", market_path(market) %></td>
      <td><%= link_to "Edit", edit_market_path(market) %></td>
    </tr>
  <% end %>
</p>
</table>
