<h1>FARMER MARKET</h1>

<h2><%= link_to "View all Markets as a User", view_all_markets_path %></h2>

<h2><%= link_to "View as a Market", markets_path %></h2>

<h2><%= link_to "View as a Vendor", vendors_path %></h2>
