<ul class="overview">
  <li><%= link_to "View as a User", view_all_markets_path %></li>
  <li><%= link_to "View as a Market", markets_path %></li>
  <li><%= link_to "View as a Vendor", vendors_path %></li>
</ul>
