<h1>ALL MARKETS</h1>

<p>
  <%= link_to "Return to Homepage", root_path %>
</p>

<table>

  <% @markets.each do |market| %>
    <tr>
      <td><%= link_to market.name, view_market_path(market) %></td>
    </tr>
  <% end %>

</table>
