<h1><%= @vendor.name %> sales</h1>

<table>
<!-- <ul> -->
<tr>
<th>Amount</th>
<th>Purchase Time</th>
</tr>
  <%# @sales.where(vendor_id: @vendor.id).each do |s| %>
  <% @sales.each do |s| %>

    <!-- <p>
      <li> -->
      <tr>
        <td><%= "$#{sprintf('%.2f' % (s.amount/100.0))}" %></td>
        <td><%= s.purchase_time %></td>
      </tr>

      <%#= link_to "Edit", edit_vendor_product_path(p) %>
      <%#= link_to "Delete", vendor_product_path(p), method: :delete, data: { confirm: "Are you sure you want to delete the product?" } %>
      <!-- </li>
    </p> -->
    <% end %>
<!-- </ul> -->

<%#= link_to "Create a new product", new_vendor_product_path %>
