<h1><%= @vendor.name %> sales</h1>

<table>
<!-- <ul> -->
<tr>
<th>Amount</th>
<th>Purchase Time</th>
</tr>
<% total = 0 %>
  <% @sales.each do |s| %>

      <tr>
        <td><%= "$#{sprintf('%.2f' % (s.amount/100.0))}" %></td>
        <td><%= s.purchase_time %></td>
        <% total += s.amount %>
      </tr>

    <% end %>
  </table>

    <p><%= "Total sales: $#{ sprintf('%.2f' % (total/100.0)) }" %></p>
